name: Build & Push Docker Image

on:
  push:
    branches: [ "main" ]
    tags: "v*"
  pull_request:
    branches: 'main'
    
jobs:
  docker_build:
    runs-on: ubuntu-latest
    steps:
    - 
      name: Get the Current Date as Seconds
      id: date
      run: echo "::set-output name=date::$(date +'%Y-%m-%d')"
    - 
      name: Checkout Repo
      uses: actions/checkout@v3
    - 
      name: Login to DockerHub
      uses: docker/login-action@v1
      with: 
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
    -
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1
    -
      name: Build & Push Image \w Tags
      uses: docker/build-push-action@v2
      with:
        context: ./src/.
        file: ./src/Dockerfile
        push: ${{ github.event_name != 'pull_request' }}
        tags: ${{ secrets.DOCKER_HUB_USERNAME }}/satisfactoryserver:latest
        cache-from: type=registry,ref=${{ secrets.DOCKER_HUB_USERNAME }}/satisfactoryserver:buildcache
        cache-to: type=registry,ref=${{ secrets.DOCKER_HUB_USERNAME }}/satisfactoryserver:buildcache,mode=max


